body
{
	margin: 0;
}
.bloc
{
	display: flex;
	margin: auto;

}

h3
	{
		margin: auto;
		background-color: rgb(64,64,64);
		color: rgb(254,202,7);
		text-align: center;
	}
span
{
	color: rgb(254,202,7);
}
ul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
}
li
{
  justify-content: space-between;
}
section
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.presentation
{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: rgb(254,202,7);
}
.description
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	margin: auto;

}


.photo_profil
{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 4px rgb(254,202,7);
	margin: auto;
	padding: auto;

}
