@font-face
{
		font-family: "go";
	  src: url(GO-Mono.ttf);

}


body
{
	margin: 0 0 0 0;
}

.container{
	display:flex;
}
.presentation
{
	width: 30%;
	background-color: #FFBF00;
}
.photo_profil
{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 4px #FFBF00;
}
.image{
	text-align: center;
	margin: 20px 0 20px 0;
}
.title-left
{
		background-color: #151515;
		color: #FFBF00;
		text-align: center;
		padding: 10px;
}
.contact ul
{
		list-style-type: none;
}
.logos i
{
	width: 35px;
	height: 35px;
	border: 1px solid black;
	padding: 15px;
	border-radius: 50%;
	text-align: center;
}
.logos
{
	text-align: center;
}

.description
{

	width: 70%;
	margin: 0 8% 0 8%;
}
header
{
	margin: 100px 0 100px 0;
}
h1
{
	font-size: 60px;
}
.slogan
{
	font-size: 25px;

}
.surline
{
	border-bottom: 1px solid #FFBF00;
	margin-top: -10px;
}
.surline-title
{
	border-bottom: 1px solid #FFBF00;
	margin-top: -15px;
	width: 50px;

}
.left
{
	width: 30%;
}

.right
{
	width: 70%;
}
.recom{
	width: 50%;
}


/*




p
{
	padding: 0 8% 0 8%;
}





.contact
{
	height: 350px;

}

.a_propos
{
	height: 450px;


}

.loisirs
{
	height: 100px;
}

.logos
{
	display: flex;
	justify-content: center;
	padding: 0 8% 0 8%;
	color: #151515;
}







span
{
	color: #FFBF00;

}

article
{
	display: flex;
}
section
{
	display: flex;
}

#logo
{
	color: #FFBF00;
	padding: 0 8% 0 0;

}
.bloc
{
	display: flex;

}




.formation
{
	height: 300px;
}

.experience
{
	height: 400px;

}

.recommandations
{
	height: 150px;
}




}
