body
{
	margin: 0 0 0 0;
}

.bloc_container
{
	display:flex;
}
/* Partie de gauche */

.presentation
{
	width: 30%;
	background-color: #FFBF00;
}
.photo_profil
{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 4px #FFBF00;
}
.image
{
	text-align: center;
	margin: 20px 0 20px 0;
}
.title-left
{
		background-color: #151515;
		color: #FFBF00;
		text-align: center;
		padding: 10px;
}
.contact ul
{
		list-style-type: none;
}
.liste
{
	margin-bottom: 5%;
}
.paragraphe_left
{
	padding: 5% 8% 5% 8%;
}
.logos i
{
	width: 35px;
	height: 35px;
	border: 1px solid black;
	padding: 15px;
	border-radius: 50%;
	text-align: center;
}
.logos
{
	text-align: center;
}
.contact
{
	height: 350px;

}

.a_propos
{
	height: 450px;


}

.loisirs
{
	height: 150px;
}


/* Partie de Droite */

.description
{

	width: 70%;
	margin: 0 8% 0 8%;
}
header
{
	margin: 50px 0 10px 0;
}
h1
{
	font-size: 60px;
	font-family: "Arial Black", Arial, Impact, sans-serif;
}
.colore
{
	color: #FFBF00;
}

.slogan
{
	padding: 0 0 0 0;
	font-size: 25px;

}
.surline
{
	border-bottom: 1px solid #FFBF00;
	margin-top: -10px;
}
.surline-title
{
	border-bottom: 1px solid #FFBF00;
	margin-top: -15px;
	width: 50px;

}
.left
{
	padding: 2% 0 2% 5%;
	width: 30%;
}

.right
{
	padding: 2% 5% 2% 0;
	width: 70%;
}
.recom
{
	padding: 2% 0 2% 0;
	width: 50%;
}
.formation
{
	padding: 2% 0 2% 0;
	height: 300px;
}

.experience
{
	padding: 10% 0 2% 0;
	height: 400px;

}

.recommandations
{
	padding: 2% 0 2% 0;
	height: 150px;
}
.cercle
{
	font-size: .75em;
	color: #FFBF00;
	float: left;
	padding: 4% 8% 0 0;
}
.logo_droite
{
	color: #FFBF00;
	float: left;
	padding: 0 8% 0 0;

}
